body {
  margin: 0;
}

div .home {
  height: 100%;
  overflow: hidden;
}

div .wufo-outer-disc {
  width: 210px;
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
}

div .nova-outer-disc {
  width: 210px;
  height: 210px;
  position: absolute;
  top: 0;
  right: 0;
}

div .buf-outer-disc {
  width: 210px;
  height: 210px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wufo-x {
  animation: left-to-right-x 29s linear infinite alternate;
}

.wufo-y {
  animation: up-to-down-y 32s linear infinite alternate;
}

.nova-x {
  animation: right-to-left-x 28s linear infinite alternate;
}

.nova-y {
  animation: up-to-down-y 33s linear infinite alternate;
}

.buf-x {
  animation: left-to-right-x 30s linear infinite alternate;
}

.buf-y {
  animation: down-to-up-y 31s linear infinite alternate;
}

div .inner-disc {
  animation: rotation 10s linear infinite;
}

@keyframes left-to-right-x {
  100% {
    transform: translateX( calc(100vw - 210px) );
  }
}

@keyframes right-to-left-x {
  100% {
    transform: translateX( calc(-100vw + 210px) );
  }
}

@keyframes up-to-down-y {
  to {
    transform: translateY( calc(100vh - 210px) );
  }
}

@keyframes down-to-up-y {
  to {
    transform: translateY( calc(-100vh + 210px) );
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

/* Mobile */
@media (max-width: 500px) {
  .wufo-x, .wufo-y, .nova-x, .nova-y, .buf-x, .buf-y {
    animation: none !important;
  }
  .wufo-outer-disc {
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .nova-outer-disc {
    left: 0;
    margin: auto;
  }

  .buf-outer-disc {
    right: 0;
    margin: auto;
  }
}
