body {
  margin: 0;
}

div .outer-disc {
  width: 210px;
  height: 210px;
  position: absolute;
}

div .inner-disc {
  animation: rotation 10s linear infinite;
}


.wufo-x {
  animation: x 29s linear infinite alternate;
}

.wufo-y {
  animation: y 32s linear infinite alternate;
}

.lawufa-x {
  animation: x 53s linear infinite alternate;
}

.lawufa-y {
  animation: y 28s linear infinite alternate;
}

.buf-x {
  animation: x 169s linear infinite alternate;
}

.buf-y {
  animation: y 13s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX( calc(100vw - 210px) );
  }
}

@keyframes y {
  to {
    transform: translateY( calc(100vh - 210px) );
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
